/* шапка */
@media (min-width: 750px) and (max-width:1000px) {
    .main_name{
    max-width: 700px;
    }
    .euonymus{
	    font-size: 30px;
        top: 40px; 
        left: 0px;
        margin-left:20px;
        margin-right:auto;
	}
	.euonymus:first-letter{
        font-size: 40px;
    }  
    .name_decryption{
        display:none;
    }
    .search{
        top: 35px;
        right: -150px;
        margin-left:auto;
    }
}
@media (min-width: 320px) and (max-width:750px) {
    .main_name{
        max-width: 500px;
    }
    .euonymus{
	    font-size: 25px;
        top: 40px;
        margin-left:10px;
        margin-right:auto;
	}
	.euonymus:first-letter{
        font-size: 40px;
    }  
    .name_decryption{
        display:none;
    }
    .search{
        top: 35px;
        right: -100px;
        margin-left:auto;
    }
    .input_search{
        width: 150px;
    }
    .submit{        
        height: 35px;
        padding:5px;
    }
    .input_search{   
        height: 35px;
        padding:5px;
    }
    .top_menu{
        display:none;
    }
    .small_menu{
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 55px; 
        left:auto;
        top: 10px;
        z-index: 1;
    }
    .small_menu img{
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer
    } 
    .top_menu .menu{
        border-left: none;
        border-bottom: white solid 1px;
        padding: 5px 0px;
        display:block;
    }
    .top_menu .archived_news{
        border: none;
    }
#menu_gamburger:checked ~ .top_menu{
        display: block;
        height: auto;
        width: auto; 
        top: 40px;
        background:  rgb(42, 162, 212);
        font-size: 14px;
        border: white solid 1px;
        z-index:1;
        padding: 0px 5px;
    }
}


/* слайдер */
@media (min-width: 900px) and (max-width:1000px) {
    .slider{
        width: auto;
        height: auto;
    }
    .slider .item img{
        width:700px;
        height:255px;
    }
    .slider_text{
        display:none;
    }
    .main_menu li{
        font-size: 14px;
    }
    .information_block .part_of_content{
        padding: 0px 20px;
    }
    .footer{
        padding: 0px 20px; 
    }
    .act{
        padding: 0px 20px; 
    }
    .small_slider{
        padding: 0px 20px; 
    }
}
@media (min-width: 620px) and (max-width:900px) { 
    .slider{
        width: auto;
        height: auto;
    }
    .slider .item img{
        width:500px;
        height:182px;
    }
    .slider_text{
        display:none;
    }
    .main_menu li{
        font-size: 12px;
        padding-left:5px;
        padding-right:5px;
    }
    .information_block .part_of_content{
        padding: 0px 20px;
    }
    .footer{
        padding: 0px 20px; 
    }
    .act{
        padding: 0px 20px; 
    }
    .part_of_act{
        max-width: 40%;
    }
    .small_slider{
        padding: 0px 20px; 
    }
}
@media (min-width: 320px) and (max-width:620px) { 
    .top_block_name{
        display:block;
    }
    .name_decryption{
        display: none;
    }
    .search{
        top: 50px;
        right: 30px;
    }
    .slider{
        width: auto;
        height: auto;
    }
    .slider .item img{
        width:320px;
        height:117px;
    }
    .slider_text{
        display:none;
    }
    .slider_dots{
        display: none;
    }
    .slider_buttom{
        font-size: 14px;
        padding: 3px 10px;
    }
    .main_menu li{
        font-size: 12px;
        display: block;
        border-left: none;
        border-bottom: rgba(153, 153, 153, 0.3) solid 1px; 
        text-align: center;
        letter-spacing: 2px;
    }
    .main_menu li:last-child{
        border-bottom: none;
    }
    .main_menu li:hover{
        border-bottom: rgb(42, 162, 212) 2px solid;
    }
    .information_block .part_of_content{
        padding: 0px 20px;
    }
    .footer{
        padding: 0px 20px; 
    }
    .act{
        padding: 0px 20px; 
    }
    .part_of_act{
        max-width: 40%;
    }
    .small_slider{
        padding: 0px 20px;
        right: 0px;
        padding-right:0px;
    }
    .social_networks{
        left: 20px;
        top: 7px; 
    }
    .icon img{
        margin-right: 5px;
        height: 25px;
        border-radius: 50%;
        cursor: pointer;
        margin-top: 5px;
    }
}