.body{
    min-width: 320px;
    cursor: default;
    margin-left: 0px;
}

/*Шапка*/
.header .contact {
    position: relative;
    top: 10;
    background: rgb(42, 162, 212);
    color:white;
}
.main_strip{
    min-height: 50px;
    padding-left: 15px;
    max-width: 960px;
    /* border: yellow solid 1px; */
    margin:auto;
    position: relative;
}
.icon img{
    margin-right: 10px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.icon{
    display: inline-block;
}

.top_block{
    display: inline-block;
}
.social_networks{
    position: absolute;
    right: auto;
    left: 30px;
    top: 7px; 
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
}
.top_menu{
    position: absolute;
    left: auto;
    right: 40px;
    top: 15px; 
}
.top_menu .menu{
    border-left: white solid 1px;
    padding-left: 5px;
    cursor: pointer;
}
.top_menu .menu:hover{
    text-decoration: underline;
}
.top_menu .sign_up{
    border: none;
}

.main_name{
    max-width: 960px;
    /* border: yellow solid 1px; */
    margin:auto;
}
.top_block_name{
    display: inline-block;
    position: relative;
    /* border: yellow solid 1px; */
}
.euonymus{
    top: 40px; 
    font-size: 35px;
    text-align: left;
    left: 20px;
    margin-right:auto;
    width:200px;
    cursor: default;
}
.euonymus:first-letter{
    font-size: 60px;
}
.name_decryption{
    color:rgb(155, 154, 154);
    border-left: rgb(155, 154, 154) solid 1px;
    padding-left: 5px;
    top: 45px;
    left: 25px;
    margin-right:auto;
    text-align: left;
    cursor: default;
}
.search{
    text-align: right;
    top: 35px;
    right: -250px;
    margin-left:auto;
}
.input_search{
    background: rgb(42, 42, 42);
    color:white;
    height: 45px;
    width: 250px;
    /* border-radius: 10% 0 0 10%; */
    outline:none;
    border: rgb(42, 42, 42);
    margin-right:-5px;
    padding: 15px 10px;

}
.submit{
    background: rgb(42, 162, 212);
    color:white;
    height: 45px;
    padding: 0 10px;
    border-radius: 0 10% 10% 0;
    outline:none;
    border: rgb(42, 162, 212) solid 5px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.2s; 
    cursor: pointer;
}
.submit:hover{
    border: rgba(42, 45, 212, 0.486) solid 5px;
}

.small_menu img{
    display:none;
}
.small_manu{
    display:none;
}
#menu_gamburger{
    display:none;
}

/*Поддон*/
.footer{
    margin: 20px 0px 30px;
    background: rgb(28, 28, 28);
    color: rgb(82, 82, 82);
    position: relative;
    top: 100px; 
    text-align: center;
}
.scrolling{
    height: 40px;
    padding: 20px 0px 0px;
    transition: 0.2s;  
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
}
.scrolling img{
    cursor: pointer
}
#scrolltop:hover .top{
    color:white;
    cursor: pointer
}
.top{
    margin-top: -10px;
}
.footer_information{
    border-top: rgb(51, 51, 51) solid 1px;
    border-bottom: rgb(51, 51, 51) solid 1px;
    text-align: justify;
}
.footer_information .information{
    position: relative;
    max-width: 960px;
    /* border: yellow solid 1px; */
    margin:auto;
}
.part_of_footer_information{
    display:inline-block;
    max-width: 23%;
    text-align: left;
    vertical-align: top;
    margin: 0px 6px;
    min-width: 200px;
    /* border: yellow solid 1px; */
    cursor: default;
}
.part_of_footer_information .name{
    color: white;
}
.blog_posts{
    margin-bottom: 50px; 
}
.blog_posts img{
    width: 48px;
    height: 48px;
}
.quick_lenks li{
    padding-bottom: 5px;
    color: rgb(42, 162, 212);
    padding-bottom: 10px;
}
.quick_lenks li:hover{
    text-decoration: underline;
}
.quick_lenks ul{
    list-style-type: none;
    padding: 10px;
}
.quick_lenks ul li::before{
    content:"> ";
    color: rgb(82, 82, 82);
}
.form_form{
    background: rgb(35, 35, 35);
    color: rgb(158, 158, 158);
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 10%;
    text-align: justify;
}
.contact_us .person_data{
    height: 25px;
    padding: 20px 0px 20px 10px;
}
.contact_us .message{
    height: 150px;
    padding: 10px;
    resize: none;
    width: 220px;
}
.contact_us .submit{
    border-radius: 10%;
}
.about_us{
    position: relative;
    min-height: 60px;
    max-width: 960px;
    /* border: yellow solid 1px; */
    margin:auto;
    cursor: default;
}
.about_us .end{
    display: inline-block;
    position: relative;
    padding: 20px;
    /* border: yellow solid 1px; */
    min-width: 43%;
}
.about_us .left_part{
    left: 0px;
    margin-right: 20px;

}
.about_us .right_part{
    right: 0px;
    margin: auto;
    text-align: right;
}


/* основная часть */
.tape_of_main_menu{
    min-height: 50px;
    background: rgb(42, 42, 42);
    position: relative;
    top: 80px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.main_menu{
    color: white;
    position: relative;
    max-width: 960px;
    /* border: yellow solid 1px; */
    margin:auto;
}
.main_menu ul{
    list-style-type: none;
}

.main_menu li{
    display: inline;
    border-left: rgba(153, 153, 153, 0.3) solid 1px;
    white-space: nowrap;
    padding: 5px 15px 5px 15px;
    transition: 0.2s;
    padding-bottom: 15px;
}
.main_menu li:hover{
    border-bottom: rgb(42, 162, 212) 3px solid;
}
.main_menu a:hover{
    color: white;
}
.main_menu a{
    text-decoration: none;
    color: rgb(153, 153, 153);
}
.one_menu{
    display:none;
}
#menu{
    display:none;
} 
.slider{
    position: relative;
    top: 80px;
    height: 350px;
    max-width: 960px;
    /* border: yellow solid 1px; */
    margin:auto;
    background: rgb(82, 82, 82);
	overflow:  hidden;
} 
.slider .item{
    text-align: center;
    display:none;
}
.slider .first{
    display:block;
}
.slider .item img{
    position:relative;
    width: 960px;
    height: 350px;
}

.slider .item .left{  /* свойства присваиваются в act.js*/
    animation-name: anim_img_left;
    animation-duration: 0.4s;
}
.slider .item .right{
    animation-name: anim_img_right;
    animation-duration: 0.4s; 
}

.slider .item .slider_text{
    position: absolute;
    right: 0;
    top:215px;
    width: 40%;
    height: 110px;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(214, 214, 214);
    font-size: 13px;
    padding: 0px 20px 20px 20px;
    text-align: left;
    animation-name: anim_text;
    animation-duration: 0.4s;
    cursor: default; 
}
.slider .item .slider_text .name{
    font-size: 16px;
    cursor: default;
}

.slider_buttom{
    padding: 5px 15px;
    border-radius:50%;
    border:rgb(153, 153, 153) solid 3px;
    color:rgb(153, 153, 153);
    background: rgba(51, 51, 51, 0.5);
    position: absolute;
    font-size: 24px;
    top: 40%;
    transition: 0.2s; 
    user-select: none;
    cursor: pointer;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
}
.prev{
    left: 10px;
}
.next{
    right: 10px;
}
.slider_buttom:hover{
    border: rgb(42, 162, 212) solid 3px;
    color: rgb(42, 162, 212);
}
.slider_dots{
    position: absolute;
    top: 90%;
    left: 10px;
    user-select: none;
    cursor: default;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
}
.slider_dots_item{
    padding: 4px;
    z-index:1;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    background:rgb(182, 182, 182);
    border: rgb(148, 145, 145) solid 1px;
    cursor: pointer;
    /* animation-duration: 2s;  */
}
.first_dots{
    background:none;
}
@keyframes anim_text{
    from {
        opacity: .1
    }
    to {
        opacity: 1
    }
}
@keyframes anim_img_left{
    from{
        transform: translateX(-800px)
    }
    to{
        transform: translateX(0px)
    }
}
@keyframes anim_img_right{
    from{
        transform: translateX(800px)
    }
    to{
        transform: translateX(0px)
    }
}

.small_slider{
    font-size: 0px;
    position: relative;
    top:100px;
    text-align: center;
	max-height: 120px;
    overflow: hidden;
    max-width: 960px;
    /* border: yellow solid 1px; */
    margin:auto;
    padding: 0px;
}
.block_in_small_slider{
    display: inline-block;
    min-width: 20%;
    max-width: 220px;
    text-align: left;
    /* border: yellow solid 1px; */
    cursor: default;
    margin: auto;
    padding: 0px 5px 0px 5px;
}
.small_slider .ss_active_left{
	display: inline-block;
    animation-name: ss_departure_left;
	animation-fill-mode: forwards;
    animation-duration: 0.6s;
    margin: auto
}
.small_slider .ss_active_right{
	display: inline-block;
    animation-name: ss_departure_right;
	animation-fill-mode: forwards;
    animation-duration: 0.6s;
}

@keyframes ss_departure_left{
    from{
        transform: translateX(0%)
    }
    to{
        transform: translateX(-100%)
    }
}
@keyframes ss_departure_right{
    from{
        transform: translateX(0%)
    }
    to{
        transform: translateX(100%)
    }
}
.block_in_small_slider img{
    width: 48px;
    height: 48px;
    margin-top: 20px;
}
.block_in_small_slider .text{
    margin-left: 60px;
}
.block_in_small_slider .information_text{
    color: rgb(82, 82, 82);
    font-size: 13px;
}
.block_in_small_slider .name{
    color: rgb(42, 162, 212);
    font-size: 16px;
    margin-bottom: 5px;
}
.bottom_to_small_slider{
    position: relative;
    top: 100px;
    text-align: right;
    user-select: none;
    max-width: 900px;
    /* border: yellow solid 1px; */
    margin: auto;
    cursor: pointer;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
}
.bottom_to_small_slider .bottom{
    display: inline-block;
    margin-right: 10px;
    border-radius: 70%;
    font-size: 15px;
    padding: 3px 8px;
    background: rgb(42, 162, 212);
    color: white;
    transition: 0.2s ease;
    border: rgba(42, 45, 212, 0) solid 3px;
}
.bottom_to_small_slider .bottom:hover{
    border: rgba(42, 45, 212, 0.486) solid 3px;
}

.act{
    position: relative;
    top: 100px;
    font-size: 0px;
    max-width: 960px;
    margin:auto;
}
.part_of_act{
    display: inline-block;
    width: 47%;
    border-bottom: rgb(228, 221, 221) solid 1px;
    text-decoration: none;
    font-size: 14px;
}
.part_of_act a{
    text-decoration: none;   
    color: rgb(82, 82, 82);
}
.part_of_act a:hover{
    color: rgb(42, 162, 212);
}
.welcome_message{
    margin-right: 40px;
}

.information_block{
    position: relative;
    top: 100px;
    text-align: justify;
    padding: 0px 20px;
    max-width: 960px;
    /* border: yellow solid 1px; */
    margin:auto;
    cursor: default;
}
.information_block .part_of_content{
    display: inline-block;
    min-width: 20%;
    max-width: 200px;
    margin: 15px;
    text-align: left;
    vertical-align: top;

}
.information_block .part_of_content img{
    width: 225px;
    height: 125px;
    margin-bottom: 10px;
}
.information_block .part_of_content .text{
    width: 225px;
}
.information_block .part_of_content .name{
    padding: 5px 0px;
}
.information_block .part_of_content .If{
    color: rgb(42, 162, 212);
}
.information_block .part_of_content .text_information{
    font-size: 13px;
    color: rgb(82, 82, 82);
    padding: 5px 0px;
}
.information_block .part_of_content a{
    color: rgb(42, 162, 212);
    text-decoration: none;
    font-size: 14px;
}
.information_block .part_of_content a:hover{
    text-decoration: underline;
}
.information_block .meet_our_team{
    font-size: 40px;
}
.information_block .part_of_content .position{
    font-size: 12px;
    color: rgb(155, 154, 154);
}

.invisible{
    height: 0;
    max-width: 23%;
    min-width: 17%;
    }
a{
    cursor: pointer
}
.invisible{
    min-width: 90%;
}