body{
    padding: 20px;
    min-width: 320px;
    cursor: default;
}

/*Шапка*/
.header .contact {
    background: rgb(42, 162, 212);
    color:white;
}
.main_strip{
    min-height: 50px;
    padding-left: 15px;
}
.icon img{
    margin: 10px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}
.icon{
    display: inline-block;
}

.top_block{
    display: inline-block;
}
.social_networks{
    position: absolute;
    right: auto;
    left: 40px;
    top: 25px; 
}
.top_menu{
    position: absolute;
    left: auto;
    right: 40px;
    top: 45px; 
}
.top_menu .menu{
    border-left: white solid 1px;
    padding-left: 5px;
}
.top_menu .menu:hover{
    text-decoration: underline;
}
.top_menu .sign_up{
    border: none;
}
.add{
    position: absolute;
    padding: 0px 15px 5px;
    height: 40px;
    right:50px;
    top: 65px;
}

.top_bloch_name{
    display: inline-block;
}
.euonymus{
    position: absolute;
    left: 60px;
    top: 110px; 
    font-size: 35px;
}
.euonymus:first-letter{
    font-size: 60px;
}
.name_decryption{
    color:rgb(155, 154, 154);
    border-left: rgb(155, 154, 154) solid 1px;
    padding-left: 10px;
    position: absolute;
    left: 260px;
    top: 135px;
    margin-left:20px;
}
.search{
    position: absolute;
    right: 50px;
    top: 135px;
}
.input_search{
    background: rgb(42, 42, 42);
    color:white;
    height: 45px;
    width: 250px;
    border-radius: 10% 0 0 10%;
    outline:none;
    border: rgb(42, 42, 42);
    margin-right:-5px;
    padding: 15px 10px;

}
.submit{
    background: rgb(42, 162, 212);
    color:white;
    height: 45px;
    padding: 0 10px;
    border-radius: 0 10% 10% 0;
    outline:none;
    border: rgb(42, 162, 212) solid 1px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.2s; 
}
.submit:hover{
    border: rgba(42, 45, 212, 0.486) solid 5px;
    margin-left: -8px;
}
.small_menu img{
    display:none;
}
.small_manu{
    display:none;
}
#menu_gamburger{
    display:none;
}


/*Поддон*/
.footer{
    margin: 20px 0px 30px;
    background: rgb(28, 28, 28);
    color: rgb(82, 82, 82);
    position: relative;
    top: 200px; 
    text-align: center;
}
.scrolling{
    height: 40px;
    padding: 20px 0px 0px;
    transition: 0.2s;  
}

#scrolltop:hover .top{
    color:white;
}
.top{
    margin-top: -10px;
}
.footer_information{
    border-top: rgb(51, 51, 51) solid 1px;
    border-bottom: rgb(51, 51, 51) solid 1px;
    padding: 15px 0px 40px 15px;
    text-align: justify;
}
.part_of_footer_information{
    display:inline-block;
    max-width: 23%;
    text-align: left;
    vertical-align: top;
    margin: 0 20px;
    min-width: 200px;
}
.company_details{
    margin-left: 10px;
}
.part_of_footer_information .name{
    color: white;
}
.blog_posts{
    margin-bottom: 50px; 
}
.blog_posts img{
    width: 48px;
    height: 48px;
}
.quick_lenks li{
    padding-bottom: 5px;
    color: rgb(42, 162, 212);
    padding-bottom: 10px;
}
.quick_lenks li:hover{
    text-decoration: underline;
}
.quick_lenks ul{
    list-style-type: none;
    padding: 10px;
}
.quick_lenks ul li::before{
    content:"> ";
    color: rgb(82, 82, 82);
}
.form_form{
    background: rgb(35, 35, 35);
    color: rgb(77, 77, 77);
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 10%;
    text-align: justify;
}
.contact_us .person_data{
    height: 25px;
    padding: 20px 0px 20px 10px;
}
.contact_us .message{
    height: 150px;
    padding: 10px;
    resize: none;
}
.contact_us .submit{
    border-radius: 10%;
}
.contact_us {
    margin-right: 10px;
}
.about_us{
    position: relative;
    min-height: 60px;
}
.about_us .end{
    display: inline-block;
    position: relative;
    padding: 20px;
}
.about_us .left_part{
    position: absolute;
    left: 0px;

}
.about_us .right_part{
    position: absolute;
    right: 0px;
}


/* основная часть */
.main_menu{
    min-height: 50px;
    background: rgb(42, 42, 42);
    color: white;
    position: relative;
    top: 140px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.main_menu ul{
    list-style-type: none;
}

.main_menu li{
    display: inline;
    border-left: rgba(153, 153, 153, 0.3) solid 1px;
    white-space: nowrap;
    padding: 5px 15px 5px 15px;
    transition: 0.2s;
}
.main_menu li:hover{
    border-bottom: rgb(42, 162, 212) 2px solid;
    padding-bottom: 15px;
}
.main_menu a{
    text-decoration: none;
    color: rgb(153, 153, 153);
}
 .slider{
    position: relative;
    top: 140px;
    height: 350px;
    /* width: 960px; */
    background: rgb(82, 82, 82);
    margin: 0px 20px;
} 
.slider .item{
    text-align: center;
    display:none;
}
.slider .first{
    display:block;
}
.slider .item img{
    position:relative;
    width: 960px;
    height: 100%;
}

.slider .item .left{  /* свойства присваиваются в act.js*/
    animation-name: anim_img_left;
    animation-duration: 0.4s;
}
.slider .item .right{
    animation-name: anim_img_right;
    animation-duration: 0.4s; 
}

.slider .item .slider_text{
    position: absolute;
    right: 0;
    top:220px;
    width: 40%;
    height: 108px;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(214, 214, 214);
    font-size: 13px;
    padding: 0px 20px 20px 20px;
    text-align: left;
    animation-name: anim_text;
    animation-duration: 0.4s;
}
.slider .item .slider_text .name{
    font-size: 16px;
}

.slider_buttom{
    padding: 5px 15px;
    border-radius:50%;
    border:rgb(153, 153, 153) solid 1px;
    color:rgb(153, 153, 153);
    background: rgba(51, 51, 51, 0.5);
    position: absolute;
    font-size: 24px;
    top: 415px;
    transition: 0.2s; 
}
.slider_buttom:hover{
     border:rgb(153, 153, 153) solid 1px;
    border: rgb(42, 162, 212) solid 3px;
    color: rgb(42, 162, 212);
    padding: 3px 13px;
}
.slider_dots{
    position: absolute;
    top: 595px;
    left: 60px;
}
.slider_dots_item{
    padding: 4px;
    z-index:1;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    background:rgb(182, 182, 182);
    border: rgb(148, 145, 145) solid 1px;
}
.slider_dots .first{
    background: none;
}
.prev{
    left: 50px;
}
.next{
    right: 50px;
}
@keyframes anim_text{
    from {
        opacity: .1
    }
    to {
        opacity: 1
    }
}
@keyframes anim_img_left{
    from{
        transform: translateX(-800px)
    }
    to{
        transform: translateX(0px)
    }
}
@keyframes anim_img_right{
    from{
        transform: translateX(800px)
    }
    to{
        transform: translateX(0px)
    }
}

.small_slider{
    position: relative;
    top:180px;
    text-align: justify;
}
.block_in_small_slider{
    display: inline-block;
    min-width: 23%;
    max-width: 250px;
    margin: 10px;
    text-align:left;
}
 .active{
     display: none;
    transform:translate(67%, 0);
    transition-duration: 0.6s;
} 
.block_in_small_slider img{
    width: 48px;
    height: 48px;
    margin-top: 20px;
}
.block_in_small_slider .text{
    margin-left: 60px;
}
.block_in_small_slider .information_text{
    color: rgb(82, 82, 82);
    font-size: 13px;
}
.block_in_small_slider .name{
    color: rgb(42, 162, 212);
    font-size: 16px;
    margin-bottom: 5px;
}

.act{
    margin-top: 50px;
}
.part_of_act{
    display: inline-block;
    width: 47%;
    border-bottom: rgb(228, 221, 221) solid 1px;
    color: rgb(82, 82, 82);
}
.welcome_message{
    margin-right: 40px;
}
.bottom_to_small_slider{
    right: 30px;
    position: absolute;
    text-align: right;
    top: 160px;
    margin-right: 50px;
}
.bottom_to_small_slider .bottom{
    display: inline-block;
    border-radius: 70%;
    width: 25px;
    height: 25px;
    background: url("icon/arrow.png") 20% 50%;
    transition: 0.2s; 
}
.bottom_to_small_slider .to_the_right{
    transform: scale(-1, -1);
}
.bottom_to_small_slider .bottom:hover{
    border: rgba(42, 45, 212, 0.486) solid 3px;
    width: 20px;
    height: 20px;
}

.information_block{
    position: relative;
    top: 200px;
    text-align: justify;
    padding: 0px 20px;
}
.information_block .part_of_content{
    display: inline-block;
    width: 225px;
    margin: 15px;
    text-align: left;
    vertical-align: top;
}
.information_block .part_of_content img{
    width: 225px;
    height: 125px;
    margin-bottom: 10px;
}
.information_block .part_of_content .text{
    width: 225px;
}
.information_block .part_of_content .name{
    padding: 5px 0px;
}
.information_block .part_of_content .If{
    color: rgb(42, 162, 212);
}
.information_block .part_of_content .text_information{
    font-size: 13px;
    color: rgb(82, 82, 82);
    padding: 5px 0px;
}
.information_block .part_of_content a{
    color: rgb(42, 162, 212);
    text-decoration: none;
    font-size: 14px;
}
.information_block .part_of_content a:hover{
    text-decoration: underline;
}
.information_block .meet_our_team{
    font-size: 40px;
}
.information_block .part_of_content .position{
    font-size: 12px;
    color: rgb(155, 154, 154);
}
